<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @metum.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @metum.value %>
</p>

<%= link_to 'Edit', edit_metum_path(@metum) %> |
<%= link_to 'Back', meta_path %>
