<h1>Listado de Entidades</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Datos Adicionales</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= raw(entity.link) %></td>
        <td>
        <ul>
        <% entity.meta.each do |meta| %>
          <li><%= meta %></li>
        <% end %>
        </ul>
        </td>
        <td><%= link_to 'Editar', edit_entity_path(entity) %></td>
        <td><%= link_to 'Borrar', entity, method: :delete, data: { confirm: "Seguro que quiere borrar a #{entity.title}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
