<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @entity.title %>
</p>

<ul>
<% @entity.meta.each do |meta| %>
  <li><%= meta %></li>
<% end %>
</ul>

<% @entity.a_links.each do |link| %>
<p>
<%= link %>
</p>

<ul>
<% link.meta.each do |meta| %>
  <li><%= meta %></li>
<% end %>
</ul>

<%end %>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
