<h1>Listado de Relaciones</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
	<td><%= raw(link) %></td>
        <td>
        <ul>
        <% link.meta.each do |meta| %>
          <li><%= meta %></li>
        <% end %>
        </ul>
        </td>
        <td><%= link_to 'Editar', edit_link_path(link) %></td>
        <td><%= link_to 'Borrar', link, method: :delete, data: { confirm: "Seguro que quiere borrar la relación #{link}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
